.spinner{
    display: grid;
    place-self: center;
    min-height: 80vh;
}

.spin{
    width: 65px;
    height: 65px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: #4500c6;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}
.coin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
  }
  
  .coin-img {
    max-width: 100px;
    object-fit: contain;
    margin-bottom: 15px;
  }

.coin p b {
    font-size: 44px;
    font-weight: 500;
}

.coin-chart{
    max-width: 600px;
    height: 500px;
    margin: auto;
}
  
  
  

@keyframes rotate {
    100%{
       transform: rotate(360deg); 
    }
}